---
Checks:                 'clang-diagnostic-*,clang-analyzer-*,cert-*,performance-*,portability-*,readability-'
WarningsAsErrors:       true
FormatStyle:            Chromium
HeaderFilterRegex:      '^(?!.*subprojects/).*$'
