# Meson
build
builddir

subprojects/*
!subprojects/*.wrap
!subprojects/.wraplock

# VS Code
.vscode/*
!.vscode/c_cpp_properties.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
