name: Windows

on:
  push:
    branches: ["main"]
    paths:
      # files to watch
      - "meson.build"
      - "meson_options.txt"
      # directories to watch
      - "horus/**"
      - "tests/**"
      - "sandbox/**"
      - "subprojects/**"
      # directories to ignore
      - "!horus/source/platform/linux/**"
      - "!horus/source/renderer/opengl/linux/**"
      - "!horus/include/horus/platform/linux/**"

  pull_request:
    branches: ["main"]
    paths:
      # files to watch
      - "meson.build"
      - "meson_options.txt"
      # directories to watch
      - "horus/**"
      - "tests/**"
      - "sandbox/**"
      - "subprojects/**"
      # directories to ignore
      - "!horus/source/platform/linux/**"
      - "!horus/source/renderer/opengl/linux/**"
      - "!horus/include/horus/platform/linux/**"

jobs:
  build:
    runs-on: windows-latest
    defaults:
      run:
        shell: msys2 {0}

    steps:
      - name: Setup Repository
        uses: actions/checkout@v3

      - name: Cache Build Directory
        uses: actions/cache@v3
        env:
          cache-name: cache-build-directory
        with:
          path: build
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/meson.build') }}
          restore-keys: |
            ${{ runner.os }}-${{ env.cache-name }}-
            ${{ runner.os }}-

      - uses: msys2/setup-msys2@v2
        with:
          msystem: clang64
          update: false
          install: >-
            clang64/mingw-w64-clang-x86_64-meson
            clang64/mingw-w64-clang-x86_64-toolchain
            clang64/mingw-w64-clang-x86_64-ktx-software
            clang64/mingw-w64-clang-x86_64-ca-certificates

      - name: Update CA Certificates
        run: update-ca-trust

      - name: Setup Project
        run: meson setup build --reconfigure
        env:
          CC: clang

      - name: Compile Project
        run: meson compile -C build

  test:
    needs: build

    runs-on: windows-latest
    defaults:
      run:
        shell: msys2 {0}

    steps:
      - name: Setup Repository
        uses: actions/checkout@v3

      - name: Cache Build Directory
        uses: actions/cache@v3
        env:
          cache-name: cache-build-directory
        with:
          path: build
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/meson.build') }}
          restore-keys: |
            ${{ runner.os }}-${{ env.cache-name }}-
            ${{ runner.os }}-

      - uses: msys2/setup-msys2@v2
        with:
          msystem: clang64
          update: false
          install: >-
            clang64/mingw-w64-clang-x86_64-meson
            clang64/mingw-w64-clang-x86_64-toolchain
            clang64/mingw-w64-clang-x86_64-ktx-software
            clang64/mingw-w64-clang-x86_64-ca-certificates

      - name: Update CA Certificates
        run: update-ca-trust

      - name: Setup Project
        run: meson setup build --reconfigure
        env:
          CC: clang

      - name: Execute Tests
        run: meson test -C build -v

  analysis:
    needs: test

    runs-on: windows-latest
    defaults:
      run:
        shell: msys2 {0}

    steps:
      - name: Setup Repository
        uses: actions/checkout@v3

      - name: Cache Build Directory
        uses: actions/cache@v3
        env:
          cache-name: cache-build-directory
        with:
          path: build
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/meson.build') }}
          restore-keys: |
            ${{ runner.os }}-${{ env.cache-name }}-
            ${{ runner.os }}-

      - uses: msys2/setup-msys2@v2
        with:
          msystem: clang64
          update: false
          install: >-
            clang64/mingw-w64-clang-x86_64-meson
            clang64/mingw-w64-clang-x86_64-toolchain
            clang64/mingw-w64-clang-x86_64-ktx-software
            clang64/mingw-w64-clang-x86_64-ca-certificates

      - name: Update CA Certificates
        run: update-ca-trust

      - name: Setup Project
        run: meson setup build --reconfigure
        env:
          CC: clang

      - name: Code Analysis
        run: ninja -C build scan-build

  lint:
    needs: analysis

    runs-on: windows-latest
    defaults:
      run:
        shell: msys2 {0}

    steps:
      - name: Setup Repository
        uses: actions/checkout@v3

      - name: Cache Build Directory
        uses: actions/cache@v3
        env:
          cache-name: cache-build-directory
        with:
          path: build
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/meson.build') }}
          restore-keys: |
            ${{ runner.os }}-${{ env.cache-name }}-
            ${{ runner.os }}-

      - uses: msys2/setup-msys2@v2
        with:
          msystem: clang64
          update: false
          install: >-
            clang64/mingw-w64-clang-x86_64-meson
            clang64/mingw-w64-clang-x86_64-toolchain
            clang64/mingw-w64-clang-x86_64-ktx-software
            clang64/mingw-w64-clang-x86_64-ca-certificates

      - name: Update CA Certificates
        run: update-ca-trust

      - name: Setup Project
        run: meson setup build --reconfigure
        env:
          CC: clang

      - name: Clang Format Check
        run: ninja -C build clang-format-check

      - name: Clang Tidy Check
        run: ninja -C build clang-tidy
