name: Windows

on:
  push:
    branches: ["main"]
    paths:
      # files to watch
      - "xmake.lua"
      # directories to watch
      - "horus/**"
      - "tests/**"
      - "sandbox/**"
      - "subprojects/**"
      # directories to ignore
      - "!horus/source/platform/linux/**"
      - "!horus/source/renderer/vulkan/linux/**"
      - "!horus/include/horus/platform/linux/**"

  pull_request:
    branches: ["main"]
    paths:
      # files to watch
      - "xmake.lua"
      # directories to watch
      - "horus/**"
      - "tests/**"
      - "sandbox/**"
      - "subprojects/**"
      # directories to ignore
      - "!horus/source/platform/linux/**"
      - "!horus/source/renderer/vulkan/linux/**"
      - "!horus/include/horus/platform/linux/**"

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Setup Repository
        uses: actions/checkout@v3

      - uses: xmake-io/github-action-setup-xmake@v1
        with:
          xmake-version: "3.0.0"
          actions-cache-key: ${{ runner.os }}-xmake
          package-cache: true
          package-cache-key: ${{ runner.os }}-packages
          build-cache: true
          build-cache-key: ${{ runner.os }}-build-${{ hashFiles('**/xmake.lua') }}

      - name: Setup Project
        run: xmake config --toolchain=clang-cl --mode=release --plat=windows --runtimes=MD -y

      - name: Compile Project
        run: xmake build horus -y

  test:
    needs: build

    runs-on: windows-latest

    steps:
      - name: Setup Repository
        uses: actions/checkout@v3

      - uses: xmake-io/github-action-setup-xmake@v1
        with:
          xmake-version: "3.0.0"
          actions-cache-key: ${{ runner.os }}-xmake
          package-cache: true
          package-cache-key: ${{ runner.os }}-packages
          build-cache: true
          build-cache-key: ${{ runner.os }}-build-${{ hashFiles('**/xmake.lua') }}

      - name: Setup Project
        run: xmake config --toolchain=clang-cl --mode=release --plat=windows --runtimes=MD -y

      - name: Execute Tests
        run: xmake test -y
